.container {
  padding-right: 0; /*15px in bootstrap.css*/
  padding-left: 0;  /*idem*/
  margin-right: auto;
  margin-left: auto;
}
body {
  font-family: 'Roboto', sans-serif !important;
  background: linear-gradient(90deg, rgba(113, 58, 180, 1) 0%, rgba(29, 112, 253, 1) 100%, rgba(252, 176, 69, 1) 100%);
}

#neko {
  background: linear-gradient(90deg, rgba(113, 58, 180, 1) 0%, rgba(29, 112, 253, 1) 100%, rgba(252, 176, 69, 1) 100%);
}

#colorA {
  color: aliceblue ;
}
.btn-success2{
  background-color: rgb(139, 206, 101);
  border-radius: 24px;
}
.btn-success2:hovel {
  background-color: rgb(88, 126, 66);
  border-radius: 24px;
}
.navbar-fixed-top.scrolled {
  background-color: #fff !important;
  transition: background-color 200ms linear;
}

.reducirimagen{
  width: 110%;
  height: 125%;
  padding-top: 10%;
 
}

.bajartengo {
  padding-top: 30%;
}
.btn-success3{
  background-color: rgb(137, 100, 179);
  color: aliceblue;
  
}
.btn-success3:hover{
  background-color: rgb(86, 34, 146);
  color: aliceblue;
  
}